<section class="names-frequency">
  <header class="header">
    <h1>Names</h1>
    <!--<input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">-->
  </header>
  <section class="main" *ngIf="names.length > 0">
    <!--<mat-form-field>-->
      <!--<mat-select placeholder="Nombre">-->
        <!--<mat-option *ngFor="let name of names" [value]="name.id">-->
          <!--{{ name.name }}-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
    <form class="names-form" [formGroup]="nameForm" (ngSubmit)="checkFrequency($event)">
      <mat-form-field class="full-width">
        <input formControlName="nameField" type="text" matInput placeholder="Nombre" aria-label="Nombre" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let name of names" [value]="name">
            <span>{{name.name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button type="submit">Enviar</button>
    </form>

  </section>
  <footer class="footer" *ngIf="names.length > 0">
    <span class="name-count"><strong>{{names.length}}</strong></span>
  </footer>
</section>
